src/main/mule/car-mgmt-system-api-manish.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="car-mgmt-system-api-manish-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="car-mgmt-system-api-manish-config" api="car-mgmt-system-api-manish.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="86e96142-f5c3-4532-b080-bf30b500e707" file="${env}-production.properties" />
    <global-property doc:name="Global Property" doc:id="430841b7-613e-42a6-b468-ac0333ac48f4" name="env" value="prod" />
    <api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="2927cb38-dd06-43c0-885d-706c7d0c5398" flowRef="car-mgmt-system-api-manish-main" />
    <secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="80ec1faa-3305-4977-98bd-f2f21dc9d1b5" file="prod-production.properties" key="1234567812345678" />
    <flow name="car-mgmt-system-api-manish-main" doc:id="d128e929-09f9-4ee4-9f57-f09373c3b4ee">
        <http:listener config-ref="car-mgmt-system-api-manish-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="car-mgmt-system-api-manish-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="car-mgmt-system-api-manish-console" doc:id="df39b541-7812-45b4-a14e-f379052f0daa">
        <http:listener config-ref="car-mgmt-system-api-manish-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="car-mgmt-system-api-manish-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\car\all:car-mgmt-system-api-manish-config" doc:id="9aec4157-3eb5-4838-b099-7c7a05c15059">
        <flow-ref doc:name="Get All Cars Data" doc:id="265a366f-8e72-48f6-96e3-279489a397d4" name="getAllCarsData" />
    </flow>
    <flow name="post:\car:application\json:car-mgmt-system-api-manish-config" doc:id="41b1ae91-5695-4eec-acf7-bd5f0bf348b8">
        <logger level="INFO" doc:name="Logger" doc:id="2f99679c-dea3-42ce-a563-a0fe6f777edc" message="test" />
        <flow-ref doc:name="Insert Car Data" doc:id="842a5066-671f-4715-9c38-b3a80e1f5ef1" name="addCar" />
    </flow>
    <flow name="put:\car\(CarId):application\json:car-mgmt-system-api-manish-config" doc:id="e88b771d-82a0-4f5c-880e-729a3d85263f">
        <flow-ref doc:name="Update Car Data" doc:id="b28c4654-6828-405e-8cc7-8c04e337cac7" name="updateCar" />
    </flow>
    <flow name="get:\car\(CarId):car-mgmt-system-api-manish-config" doc:id="05f0d8ff-3b48-4e15-9b58-f91be1533aa0">
        <logger level="INFO" doc:name="Logger" doc:id="56eaeca0-ca84-4e1f-804c-48f75fc0d474" message="#['afsdf']"/>
		<flow-ref doc:name="Copy_of_Get data by specific Car" doc:id="d7d3fa1b-9579-48cc-a673-85690c691f63" name="getCarDataBySpecificId" />
    </flow>
</mule>
